@import url('https://fonts.cdnfonts.com/css/helvetica-neue-lt-w1g');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {}

.heading {
    background: linear-gradient(90deg, #F7941D 0%, #046AAF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: 38px; */
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    width: 100%;
}


@font-face {
    font-family: 'Stolzl';
    src: url('./fonts/stolzl_regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('./fonts/stolzl_light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('./fonts/stolzl_medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('./fonts/stolzl_bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Apply the font globally */
.font-en {
    font-family: 'Stolzl', sans-serif;
}

/* 
.font-en {
    font-family: 'Helvetica Neue LT W1G', sans-serif !important;
} */

.font-ar {
    font-family: 'Cairo', sans-serif;
}


.whatsapp-button {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 50000;
    cursor: pointer;

}

.whatsapp-button a {
    color: #ef4444;
    /* Text color for the link */
}