@import url('https://fonts.cdnfonts.com/css/helvetica-neue-lt-w1g');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Helvetica Neue LT W1G', sans-serif !important;
}

.heading {
    background: linear-gradient(90deg, #F7941D 0%, #046AAF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: 38px; */
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    width: 100%;
}